/*
Boxes

prefix is `box-`

Styleguide 6
*/

/*
.box-rotate

Markup:
<div class="box-rotate"></div>

Styleguide 6.1
*/

@import 'vendor/bourbon/bourbon';

@mixin h {
  width: 50px;
  height: 50px;
  border: 1px solid;
}

div.box-rotate {
  @include h;
  @include animation(scale 1.0s ease-in, slide 2.0s ease);
}

/*
.box-flexible

Markup:
<div class="box-flexible">
  <div class="child">child box 1</div>
  <div class="child">child box 2</div>
  <div class="child">child box 3</div>
  <div class="child">child box 4</div>
  <div class="child">child box 5</div>
</div>

Styleguide 6.2
*/
div.box-flexible {
  border: 1px solid;

  @include display(flex);
  @include align-items(stretch);
  @include flex-direction(row);
  @include justify-content(flex-start);

  div.child {
    padding: 5px;
    margin: 5px;
    border: 1px solid;
    @include flex(1);
  }
}
