/*
Buttons

Styleguide 2
*/

/*
.btn-minimal

影無しのフラットなボタン。

Markup:
<button class="btn-minimal {$modifiers}">Button</button>

Styleguide 2.1
*/
button.btn-minimal {
  background: #e3e3e3;
  border: 1px solid #bbbbbb;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 1px 1px #f6f6f6;
  box-shadow: inset 0 0 1px 1px #f6f6f6;
  color: #333;
  font: bold 12px/1 "helvetica neue", helvetica, arial, sans-serif;
  padding: 20px 0;
  text-align: center;
  text-shadow: 0 1px 0 #fff;
  width: 100%;
}

button.btn-minimal:hover {
  background: #d9d9d9;
  -webkit-box-shadow: inset 0 0 1px 1px #eaeaea;
  box-shadow: inset 0 0 1px 1px #eaeaea;
  color: #222;
  cursor: pointer;
}

button.btn-minimal:active {
  background: #d0d0d0;
  -webkit-box-shadow: inset 0 0 1px 1px #e3e3e3;
  box-shadow: inset 0 0 1px 1px #e3e3e3;
  color: #000;
}

/*
.btn-clear

シンプルなボタン。

.primary - the primay button.
.normal  - the normal button.

Markup:
<button class="btn-clear {$modifiers}">Submit</button>

Styleguide 2.2
*/
button.btn-clear {
  @mixin _bgi($t, $l) {
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, $t), color-stop(100%, $l));
    background-image: -webkit-linear-gradient(top, $t, $l);
    background-image:    -moz-linear-gradient(top, $t, $l);
    background-image:     -ms-linear-gradient(top, $t, $l);
    background-image:      -o-linear-gradient(top, $t, $l);
    background-image:         linear-gradient(top, $t, $l);
  }

  @include _bgi(#eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  border-radius: 3px;
  color: #333333;
  font: bold 11px/1 "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  padding: 20px 0;
  text-align: center;
  text-shadow: 0 1px 0 #eee;
  width: 100%;

  &:hover {
    @include _bgi(#dddddd, #bbbbbb);
    border: 1px solid #bbb;
    border-bottom: 1px solid #999;
    cursor: pointer;
    text-shadow: 0 1px 0 #ddd;
  }

  &:active {
    border: 1px solid #aaa;
    border-bottom: 1px solid #888;
    -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
    box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  }

  &.primary {
    background-color: #4EB6E7;
    @include _bgi(#4EB6E7, #A4C7DF);

    &:hover {
      @include _bgi(#4E73E7, #bbbbbb);
    }

    &:active {

    }    
  }

  &.normal {
    background-color: #eeeeee;

    &:hover {
      background-color: #dddddd;
    }

    &:active {

    }
  }
}
