# disable all
/*
 
# enable files
!/.gitignore
!/.node-version
!/.ruby-version
!/config.rb
!/Gemfile
!/Gruntfile.js
!/LICENCE.md
!/package.json
!/project.sublime-project
!/README.md
 
# enable dirs
!/doc
!/helpers
!/images
!/sass
 
# disable extra files
 
# disable extra dirs
/sass/vendor
