/*
# .image-list

.simple-list は Smart Phone 向けのシンプルな縦並びリストを作成するための CSS です。

## Sample

```html
<div class="simple-list">
  <a href="#">
    <img src="#" alt=" ">
    <span class="m-tilte">タイトル</span>
    <br clear="all">
    <span class="m-act1">ラベル</span>
    <span class="m-act2">サブタイトル</span>
  </a>
</div>
```
*/
div.simple-list {
  margin: 0px;
  padding: 7px 0 1px 5px;
  border-bottom: 1px solid #E0E0E0;
  min-height: 50px;

  img {
    margin-right: 5px;
    border: 2px solid #999;
    display: block;
    float: left;
  }

  a {
    display: block;
    margin: -5px 0 0 -5px;
    padding: 5px 30px 1px 5px;
    background: inline-image('list/simple-list/arrow_right.png') no-repeat right center;
    background-size: 25px 20px;
    text-decoration: none;
    -webkit-background-size: 25px 20px;
    -moz-background-size: 25px 20px;

    span {
      font-weight: bold;
    }

    span.m-tilte {
      font-size: 118%;
      color: #333;
      line-height: 130%;
    }

    span.m-act1 {
      font-size: 106%;
      color: #333;
    }

    span.m-act2 {
      font-size: 106%;
      color: #FF3366;
      line-height: 130%;
    }
  }
}