/*
# .well-list

## Sample

```html
<div class="well">
  <div class="tapLink">
    <a href="#">List 1</a>
  </div>
  <div class="tapLink">
    <a href="#">List 2</a>
  </div>
  <div class="tapLink">
    <a href="#">List 3</a>
  </div>
</div>
```
*/
div.well {
  width: 296px;
  font-weight: bold;
  color: white;
  border: 2px solid rgba(0, 0, 0, 0.45);
  -webkit-border-radius: 13px;
  -moz-border-radius: 13px;

  div.tapLink {
    background: rgba(0, 0, 0, 0.3);
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);

    a {
      padding: 14px 18px 18px 52px;
      line-height: 15px;
      font-size: 13px;
      text-align: left;
      font-weight: bold;
      color: white;
      font-family: Helvetica, Sans-Serif, Arial;
      text-shadow: rgba(0, 0, 0, 0.75) 0px -1px 0px;
    }

    a:link,
    a:visited,
    a:hover,
    a:active {
      text-decoration: none;
      display: block;
    }
  }

  div.tapLink:first-child {
    -webkit-border-top-left-radius: 9px;
    -webkit-border-top-right-radius: 9px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.45);
    border-top: 1px solid rgba(18, 18, 18, 0);
  }


  div.tapLink:last-child {
    -webkit-border-bottom-left-radius: 9px;
    -webkit-border-bottom-right-radius: 9px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    border-bottom: none;
  }
}