/*
# .simple-top-bar

## Sample

```html
<header class="simple-top-bar">
  <div class="titleArea">
    <hgroup>
      <h1>
        <a href="#">Title</a>
      </h1>
    </hgroup>
    <p class="close" style="display:none">
      <a href="#">閉じる</a>
    </p>
    <p class="search" style="display:block">
      <a href="#">search</a>
    </p>
    <p class="reset">
      <a href="#">更新</a>
    </p>
  </div>
  <div class="search-form" style="display:none">
    <form action="#">
      <fieldset>
        <input class="q" type="text" value="" name="q">
        <input class="search" type="submit" value="">
      </fieldset>
    </form>
  </div>
</header>
```
*/

header.simple-top-bar-fixed {
  position: fixed;
  width: 100%;
}

header.simple-top-bar {

  @mixin default() {
    overflow: hidden;
    padding: 0;
    border: none;
    display: inline-block;
    cursor: pointer;
    text-align: left;
    -webkit-background-size: 190px 200px;
    -moz-background-size: 190px 200px;
    background-size: 190px 200px;
  }

  @mixin default-a() {
    text-indent: -9999px;
    @include default()
  }

  div.titleArea {
    display: block;
    position: relative;
    height: 44px;
    background: #333A47;
    background: -webkit-gradient(linear, left top, left bottom, from(#4E5966), to(#282E3A));
    background: -moz-linear-gradient(top, #414956, #272D39);
    border-bottom: #1E2023 1px solid;
    text-align: center;

    hgroup {
      display: inline-block;

      h1 {
        padding-top: 5px;
        font-weight: normal;
        font-size: 20px;
        line-height: 1.5em;

        a {
          // background: inline-image('bar/simple-top-bar/sprite_common.png') no-repeat 0 -95px;
          // width: 120px;
          // height: 22px;
          color: #FFFFFF;
          text-decoration: none;
          font-weight: normal;
          @include default()
        }
      }
    }

    p.close {
      position: absolute;
      top: 0;
      right: 0;
      margin: 3px;
      display: inline;
      background: inline-image('bar/simple-top-bar/spr.gif') 0 -422px no-repeat;

      a {
        display: block;
        width: 35px;
        height: 43px;
        text-indent: -9999px;
      }
    }

    p.search {
      position: absolute;
      top: -10px;
      right: 5px;

      a {
        background: inline-image('bar/simple-top-bar/sprite_common.png') no-repeat -45px -120px;
        width: 43px;
        height: 32px;
        @include default-a()
      }
    }

    p.reset {
      position: absolute;
      top: 6px;
      left: 5px;
      margin: 0;

      a {
        background: inline-image('bar/simple-top-bar/sprite_common.png') no-repeat 0 -120px;
        width: 43px;
        height: 32px;
        @include default-a()
      }
    }
  }

  div.search-form {
    padding: 7px 4px 6px 6px;
    background: #272D39;
    border-top: #353D4B 1px solid;
    border-bottom: #1E2023 1px solid;

    form {
      border-bottom: #414751 1px solid;

      fieldset {
        position: relative;
        margin: 0;
        padding-right: 31px;
        border: #16181A 1px solid;
        padding: 0;

        input.q {
          padding: 2px 4px 0 4px;
          width: 100%;
          height: 28px;
          font-size: 14px;
          color: #111111;
          font-weight: bold;
          border-top: #CCCCCC 1px solid;
          border-right: none;
          border-bottom: none;
          border-left: #CCCCCC 1px solid;
          -webkit-box-sizing: border-box;
          -moz-box-sizing: border-box;
          box-sizing: border-box;
          -webkit-border-radius: 0;
        }

        input.search {
          position: absolute;
          top: 0;
          right: 0;
          border: none;
          border-left: #16181A 1px solid;
          -webkit-border-radius: 0;
          width: 32px;
          height: 28px;
          text-indent: -9999px;
          margin-top: 7px;
          background: inline-image('bar/simple-top-bar/btn_search.gif') 0 0 no-repeat;
        }
      }
    }
  }
}
